@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}

img {
  image-rendering: -webkit-optimize-contrast; /* Improve image rendering */
  image-rendering: crisp-edges; /* Ensure images are rendered crisply */
}

.appreciationContainer{
  height: 400px;
  width: 567px;
}
.doctorCertificate{
  height: 400px;
  width: 567px;
}

.appreciationCertificate{
  object-fit: contain;
  object-position: center;
  height: 400px;
  width: 567px;
}


.appreciatorName{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #e6ae2e;
  transform: translateX(-50%);
}

.appreciatorImage{
  position: absolute;
  height: 90px;
  width: 90px;
  object-fit: contain;
  object-position: center;
  bottom: 14%;
  right: 27%;
  border-radius: 8px;
}

@media screen and (max-width : 600px){
  .appreciationContainer{
    width: 90vw;
  }
  
  .appreciationCertificate{
    width: 90vw;
  }

  .appreciatorImage{
    height: 60px;
    width: 60px;
    bottom: 26%;
    right: 27%;
  }

  .doctorCertificate{
    width: 90vw;
    height: 300px;
  }
}
